body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}
.background{
    background: linear-gradient(rgba(0,0,50, 0.5), rgba(0,0,50,0.5));
    border: 2px solid black;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.contact-title {
    margin-top: 100px;
    color: forestgreen;
    text-transform: uppercase;
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
  }

.contact-title h1{
    font-size-adjust: 32px;
    line-height: 10px;
}

form {
    margin-top: 50px;
    
  
}

.form-control {
    width: 600px;
    background: whitesmoke;
    border: 1px solid black;
    color: black;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    height: 45px;
}

form .submit {
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 2px;
    height: 50px;
    margin-top: 20px;

}

form .submit:hover {
    background-color: forestgreen;
    cursor: pointer;
}

strong {
    color:forestgreen;
    text-align: center;
}

/* .radio-td {
    text-align: right;
}

.radio-td-letter {
    color:forestgreen;
    text-align: right;
} */